*{
    box-sizing: border-box;
}
/* STYLES */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #120323;
    color: greenyellow;
    padding: 1rem;
    text-align: center;
  }
  header img {
    max-width: 100%;
    height: auto;
  }
  header h1 {
    margin-top: 0.5rem;
  }
  #container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  figure {
    margin: 0;
    text-align: center;
  }
  figure img {
    width:100%;
    height: auto;
    border: 5px solid #d9043d;
  }
  figcaption {
    background-color: #fff;
    padding: 1rem;
    text-align: left;
  }
  figcaption h2 {
    margin-top: 0;
  }
  aside {
    background-color: #97bf04;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  footer {
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 1rem;
  }

/* Flexbox Layout with greater than 1000px wide*/
@media screen and (min-width: 1000px) {
    #container {
      display: flex; 
      flex-direction: row; 
      justify-content: space-between;
    }
  
    main {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem;
    }
  
    aside {
      flex: 1;
      background-color: #97bf04;
      color: black;
      padding: 1rem;
      margin-left: 1rem;
      text-align: left;
    }
  
    figure {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    figure img {
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-right: 1rem;
    }
  }
  
/* Flexbox Layout with less than 1000px wide*/
@media screen and (max-width: 999px) {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  
    header img {
      max-width: 100%;
      height: auto;
      margin-right: 1rem;
      
    }
  
    header h1 {
      margin: 0;
    }
  
    #container {
      flex-direction: column;
      padding: 1rem;
    }
  
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  
    figure {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    figure img {
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-right: 1rem;
      }
    aside {
      background-color: #97bf04;
      color: black;
      padding: 1rem;
      margin-top: 1rem;
      text-align: center;
      width: 100%;
    }
  
  
  /* Flexbox Layout with less than 768px wide */
@media screen and (max-width: 767px) {
    header {
      text-align: center; 
      padding: 1rem;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      width: 100%; 
    }

    header img {
      max-width: 100%; 
      height: auto;
      margin-bottom: 1rem; 
    }

    header h1 {
      margin: 0;
      font-size: 1.5rem; 
    }

    #container {
      flex-direction: column; 
      padding: 1rem;
    }

    main {
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    figure {
      margin: 0;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
    }

    figure img {
      width: 100%; 
      height: auto;
      object-fit: contain;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }